@use "sass:math";

$maxColumns : 12;

.container{
    max-width: 1200px;
    margin : 0 auto;

}

.row{
    display : flex;
    flex-wrap: wrap;
    &.-center{
      justify-content:center;
    }
    &.-vcenter{
        align-items: center;
    }

}

div[class^="col"]{
  padding: 1rem;
  &:nth-of-type(1){
    background : hotpink;
  }&:nth-of-type(2){
    background : goldenrod;
  }&:nth-of-type(3){
    background :blanchedalmond;
  }&:nth-of-type(4){
    background : coral;
  }
}

@for $i from 1 through $maxColumns{
    .col-#{$i}{
        flex-basis : calculate-width($i);
        max-width: calculate-width($i);
    }
    
}

@include medium-up(){
    @for $i from 1 through $maxColumns{
        .col-md-#{$i}{
            flex-basis : calculate-width($i);
            max-width: calculate-width($i);
        }
       
    }
}

@include large-up(){
    @for $i from 1 through $maxColumns{
        .col-l-#{$i}{
            flex-basis : calculate-width($i);
            max-width: calculate-width($i);
        }
    }
}
@include x-large-up(){
    @for $i from 1 through $maxColumns{
        .col-xl-#{$i}{
            flex-basis : calculate-width($i);
            max-width: calculate-width($i);
        }
    }
}




