.c-card__container{
    background-color: $grey;
    border-radius: 22px;
    height: 300px;
    padding: 60px 15px;
    .c-card__innerContainer *{
        display: block;
        margin: auto;
        padding: 20px 0;
        text-align: center;
    }

    svg{
        width: 25px;
        color: white;
    }
}