.c-carreGris{
    text-align: center;
    background-color: rgba($white, 0.25);
    padding: pxToRem(16);
    &__title{
        span{
            color: $primaryColor;
        }
    }
    &.-darker{
        background-color: rgba($white, 0.1);
    }
}