.c-card__container{
    background-color: $grey;
    border-radius: 22px;
    height: 300px;
    padding: 60px 15px;
    .c-card__innerContainer {
        text-align: center;
    }
    svg{
        width: 25px;
        color: white;
        animation: none;
    }
    .c-card_svgContainer{
        width: 75px;
        height: 75px;
        border: solid 3px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 100%;
        background: 
        linear-gradient($grey, $grey) padding-box,
        conic-gradient(from 45deg, $primaryColor, $grey) border-box;
        animation: rotate linear 2000ms infinite;
        
    }
    @keyframes rotate {
        from {transform: rotate(0deg);}
      
        to {transform: rotate(360deg);}
      }
}
