// FORMULAIRE EN COLONNE
input{
    background: none;
    border-bottom: solid 1px $greyBorder;
    box-shadow: none;
    border-right: none;
    color: $white;
    outline: 0;
    &::placeholder{
        font-family: $fontText;   
       }
    
}

.container_input{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.container_textarea{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    label{
        display:block ;
        width: 80%;
        text-align: left;
    }
}

textarea{
    width: 80%;
    min-height: 100px;
    background: none;
    border: solid 1px $greyBorder;
    color: $white;
    outline: 0;
    resize: none;
    &::placeholder{
        font-family: $fontText;   
       }
    
}

form{
    width: 700px;
    background-color: $grey;
    border-radius: 22px;
    padding: 40px;
    .cont{
        display: block;
        margin: 40px auto ;
    }
}

// FORMULAIRE EN COLONNE

.container_input_col{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

