.c-precommande__innerContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &.-colone1, &.-colone2, &.-colone3 {
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }
}