.container__personnalisation{
    height: 100vh;
    display: flex;
}
.c-chaussure__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 75%;
    @include large-down{
        width: 100%;
        height: 70%;
    }
    img{
        width: 75%;
        display: block;
        margin: auto;
    }
}
.c-chaussure__buttonContainer{
    display: flex;
    justify-content: center;
    @include large-down{
        position: absolute;
        bottom: 0;
        height: 80px;
        background-color: $black;
        width: 100%;
        align-items: center;
    }
    svg{
        width: 32px;
        color: $white;
        margin: 0 25px;
        transition: 0.25s ease-in-out;
        &:hover{
            color: $primaryColor;
        }
    }
    a{
        display: flex;
    }
}
.c-listPersonnalisation{
    background-color: $grey;
    position: absolute;
    right: 0;
    width: 25%;
    overflow-y: scroll; 
    top: 80px;   
    bottom: 80px;
    @include large-down{
        left: 0;
        width: 100%;
        height: 20%;
        bottom: 80px;
        top: inherit;
        overflow-y: inherit;
        overflow-x: scroll;
    }
    &__menu{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include large-down{
            flex-direction: row;
            width: fit-content;
            height: 100%;
        }
        p{
            margin-bottom: 0px;
        }
    }
    &__menu > div{
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include large-down{
            width: 150px;
            height: 100%;
        }
    }
}
.c-validation{
    height: 80px;
    width: 25%;
    background-color: $grey;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 1px $primaryColor;
    @include large-down{
        width: 100%;
    }
    a{
        width: 100%;
        height: 100%;
    }
    svg{
        height: 32px;
        width: 32px;
        color: $primaryColor;
    }
}
.c-indicatifTitre{
    background-color: $grey;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    z-index: 55;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include large-down{
        display: none;
    }
}
.cercle{
    width: 68px;
    height: 68px;
    border: solid 2px red;
    border-radius: 100%;
    position: absolute;
    @include large-down{
        width: 48px;
        height: 48px;
    }
}
.color{
    width: 58px;
    height: 58px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include large-down{
        width: 38px;
        height: 38px;
    }
}

.c-listPersonnalisation::-webkit-scrollbar {
    width: 4px;
    @include large-down{
        height: 4px;
    }
}

.c-listPersonnalisation::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.c-listPersonnalisation::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    outline: 1px solid #0c0d0c;
}
.splide{
    width: 100%;
}

.splide__arrow{
    background-color: transparent;
    svg{
        fill: $primaryColor;
    }
}
.splide__slide{
    padding: 50px 0px;
}

.buttonBack{
    a{
        color: $white;
    }
    position: absolute;
    top: 25px;
    left: 25px;
    width: 32px;
    height: 32px;
}