.c-image__container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-height: 100%;
    }
   
}

.c-text__container{
    height: 100%;
    .c-text__innerContainer{
        margin: 100px 0;
    }
}