.button{
  background: $primaryColor;
  color: $white;
  padding: pxToRem(16);
  text-transform: uppercase;
  font-family: $textFont;
  font-size: pxToRem(16);
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid $primaryColor;
  &.-secondary{
    background: $white;
    color: $primaryColor;
    border: 2px solid $primaryColor;
  }
  .dark-mode &{
    background: $white;
    color: $grey;
  }
}

