// Foundations
@import "foundation/variables";
@import "foundation/functions";
@import "foundation/mixins";

*{
  box-sizing: border-box;
}
// Elements 
@import "elements/buttons";
@import "elements/input";
@import "elements/title";

// Objects
@import "objects/grid";

// Components 
@import "components/product";
@import "components/form";


html{
  font-size: $rootFontSize + px;
  &.dark-mode{
    background : $grey;
  }
}

/*
@media print {
  body{
    padding: 100px;
  }
  #id-text{
    display: none;
  }
 }


 @media all and (orientation : landscape) {
   body {
     background : red;
   }
 }

 @media all and (max-width : 640px){
 }
 */

 