// Foundations
@import "foundation/variables";
@import "foundation/functions";
@import "foundation/mixins";
@import "elements/typo";
@import "components/card";
@import "components/carreGris";
@import "components/sectionImageTexte";
@import "components/bandeauFaq";

// Elements 
@import "elements/button";
@import "elements/typo";

// Objects
@import "objects/grid";

// Components 
@import "components/carreGris";
@import "components/card";

* {
  box-sizing: border-box;
}

html{
  background-color: $black;
}

.container__wrap{
  max-width: 1300px;
  margin: auto;
}

.lineTitle{
  position: relative;
  padding-left: 15px;
  &::before{
      content: "";
      background-color: $primaryColor;
      height: 90%;
      width: 7px;
      left: 0;
      position: absolute;
      border-radius: 50px;
      transform: skewX(-10deg);
  }
  &.-smallLine{
      padding-left: 10px;
      &::before{
          width: 3px;
      }
  }
  
}